{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cloud Clipboard</title>
    <!-- CSS only -->
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" sizes="32x32">

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="{% static 'js/bundle.min.js' %}" crossorigin="anonymous"></script>
    <style type="text/css">
        @font-face {
            font-family: helvetica;
            src: url({% static 'font/helvetica-webfont.woff' %}) /* EOT file for IE */
        }

        * {
            font-family: helvetica;
        }
    </style>
    {% block header %}{% endblock %}
</head>
<body>

<div class="container">
    <a href="https://github.com/h-gj/CloudClipboard">
        <img style="position: absolute; top: 0; right: 0; border: 0;"
             src="http://images2015.cnblogs.com/blog/682661/201612/682661-20161210223653179-1870729401.png"
             alt="Fork me on GitHub">
    </a>
    <br>
    <div class="row">
        {#            <div class="col-11"></div>#}
        <div class="col col-md-6 col-md-offset-4">
            <h4>Cloud Clipboard{% block title_suffix %}{% endblock %}</h4>


            {% block body_content %}{% endblock %}
        </div>
    </div>
</div>

</body>
</html>