{% extends 'base.html' %}
{% load static %}

{% block header %}
    <script src="{% static 'js/qrcode.min.js' %}"></script>

    <style>
        .content {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 6; /* number of lines to show */
            -webkit-box-orient: vertical;
        }

        @media only screen
        and (max-width: 768px) {
            #qrcode {
                display: none;
            }
        }

    </style>
{% endblock %}

{% block title_suffix %} - {{ channel.id }}&nbsp;&nbsp;&nbsp;&nbsp;


    <a id="clearAll"
       class="btn-sm btn-success"
       channelId="{{ channel.id }}"
       title="Clear All"
       style="float: right;margin-left: 8px; text-decoration: none; cursor: pointer">
    Clean
    </a>

    <a id="goHome"
       class="btn-sm btn-outline-success"
       href="/"
       title="Go Home"
       style="float: right;margin-left: 8px; text-decoration: none; cursor: pointer">
    Back
    </a>

{% endblock %}


{% block body_content %}
    {% if contents %}
        <p class="alert alert-success" id="alert" style="padding: 8px 13px;font-size: 14px; margin-top: 18px">One lick
            to
            <b><i>COPY</i></b>, double
            click to <b><i>DELETE</i></b>.</p>
    {% else %}
        <p class="alert alert-success" id="alert" style="padding: 8px 13px;font-size: 14px; margin-top: 18px">
            No contents yet, create one!
        <a style="float: right; text-decoration: none" href="/">Go to Create</a>
        </p>
    {% endif %}
    <div id="qrcode" class="img-thumbnail" style="position: fixed; top: 20px; right: 20px"></div>

    <script>
        const qrcode = new QRCode(document.getElementById('qrcode'), {
            text: window.location.href,
            width: 128,
            height: 128,
            colorDark: '#000',
            colorLight: '#fff',
            correctLevel: QRCode.CorrectLevel.H
        });

    </script>

    <form method="post">
        {% csrf_token %}
        {% for item in contents %}
            <div class="item" content_id="{{ item.id }}">
            <textarea readonly class="content form-control position-relative"
                      style="height: 130px;cursor: pointer;background-color: #ffffff;resize: none;margin-bottom: 5px;box-shadow: rgba(149, 157, 165, 0.5) 1px 3px 13px;">
{{ item.content }}
</textarea>
                <span class="w"
                      style="height: 31px;display: inline-block;line-height: 31px">Created at {{ item.create_at  | date:"m-d H:i:s" }}</span>
                <button class="btn btn-outline-success btn-sm cpCurlCodeBtn" style="float: right;margin-left: 6px">cp
                    curl
                </button>&nbsp;&nbsp;
                <button class="btn btn-success btn-sm cpLinkBtn" style="float: right">cp link</button>
                <br>
                <br>
            </div>
        {% endfor %}
    </form>

    <script>
        const clearAll = $("#clearAll")

        $('#clearAll').click((e) => {
            e.preventDefault()
            const yes = window.confirm("Are you sure to clear all content?")
            if (yes) {
                window.location.href = `${clearAll.attr("channelId")}/contents/clear`
            }
        })

        Date.prototype.Format = function (fmt) {
            const o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "H+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }

        function getCurrentFormattedTime() {
            return new Date().Format("yyyy-MM-dd HH:mm:ss")
        }

        $(document).ready(
            () => {
                $('.toast').toast();
                $('.delete').on('click', function () {
                    const content = $(this).parent().parent().parent();
                    const content_id = content.attr('content_id');
                    content.remove()
                    $.ajax({
                        url: `/${content_id}`,
                        type: 'DELETE',
                        dataType: 'json',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        },
                        success: (data) => {
                        }

                    })
                })

                function copyToClipboard(text) {
                    const elem = document.createElement('textarea');
                    elem.value = text;
                    document.body.appendChild(elem);
                    elem.select();
                    document.execCommand('copy');
                    document.body.removeChild(elem);
                }

                function formContentUrl(that) {
                    const host = window.location.protocol + "//" + window.location.host;
                    const content_id = that.parent().attr('content_id')
                    return `${host}/contents/${content_id}`
                }


                $('.cpLinkBtn').on('click', function (e) {
                    e.preventDefault();
                    const contentUrl = formContentUrl($(this))
                    copyToClipboard(contentUrl)
                    $('#alert').attr('class', 'alert alert-success').text(`Copied link at ${getCurrentFormattedTime()}`)  //perform single-click action
                })

                $('.cpCurlCodeBtn').on('click', function (e) {
                    e.preventDefault();
                    const contentUrl = formContentUrl($(this))
                    const curlCode = 'curl ' + contentUrl
                    copyToClipboard(curlCode)
                    $('#alert').attr('class', 'alert alert-success').text(`Copied curl code at ${getCurrentFormattedTime()}`)  //perform single-click action
                })


                var DELAY = 300, clicks = 0, timer = null;


                $(".content").on("click", function (e) {

                    clicks++;  //count clicks
                    const text = $(this).contents().filter(function () {
                        return this.nodeType === 3;
                    }).text()

                    if (clicks === 1) {  // 复制
                        timer = setTimeout(function () {
                            copyToClipboard(text)
                            $('#alert').attr('class', 'alert alert-success').text(`Copied at ${getCurrentFormattedTime()}`)  //perform single-click action
                            clicks = 0;             //after action performed, reset counter

                        }, DELAY);

                    } else {  // 粘贴
                        const content = $(this).parent()
                        const content_id = content.attr('content_id')

                        content.remove()
                        copyToClipboard(text)
                        setTimeout(
                            () => {
                                $.ajax({
                                    url: `/${content_id}`,
                                    type: 'DELETE',
                                    dataType: 'json',
                                    beforeSend: function (xhr) {
                                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                                    },
                                    success: (data) => {
                                    }

                                })
                            },
                            3000
                        )


                        $('#alert').attr('class', 'alert alert-success').html(`Deleted(also COPIED) at ${getCurrentFormattedTime()}  ` + '<a style="text-decoration: none;float: right" id="revertBtn" href="">REVERT(3)<a/>')
                        let countdown = 3;
                        const interval = setInterval(
                            () => {
                                countdown -= 1;
                                $('#revertBtn').text(`REVERT(${countdown})`)
                                if (countdown === 0) {
                                    clearInterval(interval)
                                    $('#revertBtn').text('')
                                }
                            },
                            1000
                        )


                        clearTimeout(timer);    //prevent single-click action
                        clicks = 0;             //after action performed, reset counter
                    }

                })
                    .on("dblclick", function (e) {
                        e.preventDefault();  //cancel system double-click event
                    });


            }
        )
    </script>

{% endblock %}