{% extends 'base.html' %}
{#{% block title_suffix %}New{% endblock %}#}
{% block body_content %}
    <a href="https://github.com/h-gj/CloudClipboard">
        <img style="position: absolute; top: 0; right: 0; border: 0;"
             src="http://images2015.cnblogs.com/blog/682661/201612/682661-20161210223653179-1870729401.png"
             alt="Fork me on GitHub">
    </a>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="autoCommitSwitch" checked>
        <label class="form-check-label" for="flexSwitchCheckDefault">Auto commit</label>
    </div>


    <form method="post" id="contentForm">
        {% csrf_token %}


        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Channel ID</label>
            <input required type="text" class="form-control" id="channel_id"
                   placeholder="" name="channel_id">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Content</label>
            <textarea required class="form-control" id="content" name="content"
                      placeholder="" rows="5"></textarea>
        </div>

        {#        <div class="mb-3">#}
        {#            <button type="submit" class="btn btn-primary mb-3" id="submitContent">Submit</button>#}
        {#        </div>#}

    </form>

    <script>
        commitForm = (e) => {
            const contentForm = $('#contentForm');
            const channel_id = $('#channel_id').val();
            const content = $('#content').val();
            if (channel_id === '' || content === '') {
                return
            }
            contentForm.submit()
        }


        $(document).ready(
            $('#contentForm').on('submit', function (e) {
                window.localStorage.setItem('CID', $('#channel_id').val())
            })
        )

        $(document).ready(
            () => {
                const content = $('#content');
                const contentForm = $('#contentForm');

                contentForm.val()

                content.focus()

                const cid = window.localStorage.getItem('CID')
                const autoCommit = window.localStorage.getItem('autoCommit')
                if (cid) {
                    $('#channel_id').val(cid);
                }
                if (autoCommit === 'off') {
                    $('#autoCommitSwitch').attr('checked', false)
                }

                // 按下回车键，立即提交
                contentForm.keypress(function (e) {
                    var code = (e.keyCode ? e.keyCode : e.which); // grabs keycode pressed
                    if (code === 13) {  // Code 13 is enter
                        e.preventDefault();
                        commitForm();
                    }
                });

                // 监测到内容有变化，立即提交
                content.on('input', function () {
                    const autoCommit = window.localStorage.getItem('autoCommit') || 'on'
                    if (autoCommit === 'on') {
                        const channel = $('#channel_id');
                        const channel_id = channel.val();
                        if (!channel_id) {
                            channel.attr('placeholder', 'Please fill out this field.')
                        }
                        commitForm();
                    }
                })


                $('#autoCommitSwitch').on('change', function () {
                    const currentState = window.localStorage.getItem('autoCommit') || 'on';
                    console.log('currentState', currentState);
                    window.localStorage.setItem('autoCommit', currentState === 'on' ? 'off' : 'on');
                })
            }
        )
    </script>
{% endblock %}