{% extends 'base.html' %}

{% block header %}
    <style>

    @media only screen and (min-width: 720px) {
        #commitBtn {
            visibility: hidden;
        }
    }

    @media only screen and (max-width: 720px) {
        #forkMe {
            visibility: hidden;
        }
    }

    </style>

{% endblock %}

{% block body_content %}
    <a href="https://github.com/h-gj/CloudClipboard">
        <img id="forkMe" style="position: absolute; top: 0; right: 0; border: 0;"
             src="http://images2015.cnblogs.com/blog/682661/201612/682661-20161210223653179-1870729401.png"
             alt="Fork me on GitHub">
    </a>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="autoCommitSwitch" checked>
        <label class="form-check-label" for="flexSwitchCheckDefault">Auto Commit</label>
    </div>


    <form method="post" id="contentForm">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Channel ID</label>
            <a id="jumpIntoBtn" style="float: right; text-decoration: none;" href="">Go to Channel</a>
            <input required type="text" class="form-control" id="channel_id"
                   placeholder="" name="channel_id" onkeydown="goToChannel">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Content</label>
            <textarea required class="form-control" id="content" name="content"
                      placeholder="Paste or write down your content." rows="5"></textarea>
        </div>

        <div class="mb-3">
            <button class="btn w-100 btn-outline-success" id="commitBtn"  name="commitBtn">Commit</button>
        </div>

    </form>

    <script>
        //  首页channel输入框，监测到回车键即跳转到channel page
        $('#channel_id').on('keydown', (e) => {
            if (e.code === 'Enter') {
                const channel_id = $('#channel_id').val();
                window.location.href += channel_id
            }
        })

        let Debounce = function (fn, delay = 800, immediate = false) {
            let timer = null // 闭包存储setTimeout状态
            return function () {
                let self = this // 事件源this
                let args = arguments // 接收事件源的event
                if (timer) clearTimeout(timer) // 存在就清除执行fn的定时器
                if (immediate) { // 立即执行
                    let callNow = !timer // 执行fn的状态
                    timer = setTimeout(function () {
                        timer = null
                    }, delay)
                    if (callNow) fn.apply(self, args)
                } else { // 非立即执行
                    timer = setTimeout(function () { // 或者使用箭头函数将this指向dom
                        fn.apply(self, args)
                    }, delay)
                }
            }
        }

        commitForm = (e) => {
            const contentForm = $('#contentForm');
            const channel_id = $('#channel_id').val();
            const content = $('#content').val();
            if (channel_id === '' || content === '') {
                return
            }
            contentForm.submit()
        }

        $(document).ready(
            () => {
                const content = $('#content');
                const contentForm = $('#contentForm');
                const autoCommitSwitch = $('#autoCommitSwitch');

                // 提交表单时，localstorage存储CID
                contentForm.on('submit', function (e) {
                    window.localStorage.setItem('CID', $('#channel_id').val())
                })

                // 跳转channel页面
                $('#jumpIntoBtn').click(function (e) {
                    const channel_id = $('#channel_id').val();
                    e.target.href += channel_id
                })


                contentForm.val()
                content.focus()

                const cid = window.localStorage.getItem('CID')
                const autoCommit = window.localStorage.getItem('autoCommit')
                if (cid) {
                    $('#channel_id').val(cid);
                }
                if (autoCommit === 'off') {
                    autoCommitSwitch.attr('checked', false)
                }

                // 如果auto commit checkbox没勾选，则提示：请按回车键提交。
                const autoCommitChecked = autoCommitSwitch.is(':checked')
                if (!autoCommitChecked) {
                    content.attr('placeholder', 'Enter to commit.')
                }

                // 提交按钮触发点击事件则提交表单，针对移动端
                $('#commitBtn').click(() => commitForm())

                // 监测content输入框回车键，按下立即提交
                contentForm.keypress(function (e) {
                    var code = (e.keyCode ? e.keyCode : e.which); // grabs keycode pressed
                    if (code === 13) {  // Code 13 is enter
                        e.preventDefault();
                        commitForm();
                    }
                });

                // 校验并提交表单
                function checkAndCommitForm() {
                    const autoCommit = window.localStorage.getItem('autoCommit') || 'on'
                    if (autoCommit === 'on') {
                        const channel = $('#channel_id');
                        const channel_id = channel.val();
                        if (!channel_id) {
                            channel.attr('placeholder', 'Please fill out this field.')
                        }
                        commitForm();
                    }
                }

                // 监测到内容有变化，则提交（带防抖）
                document.getElementById('content').oninput = Debounce(checkAndCommitForm)

                // 监测auto commit checkout，有变化则设置localstorage
                autoCommitSwitch.on('change', function () {
                    const currentState = window.localStorage.getItem('autoCommit') || 'on';
                    window.localStorage.setItem('autoCommit', currentState === 'on' ? 'off' : 'on');
                })
            }
        )
    </script>
{% endblock %}